@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,500;1,300&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Kanit", sans-serif;
}

.navbar-brand img {
  transition: transform 0.3s;
}

.navbar-brand:hover img {
  transform: scale(1.1);
}
.navegacion div {
  background-color: rgba(231, 255, 214, 0.966);
}
.navegacion div ul li a {
  color: rgb(24, 141, 0);
  display: flex;
  flex-direction: row;
  margin-right: 20px;
  margin-left: 20px;
  font-size: 1.5em;
}

.inicio {
  height: 90vh;
  background-image: url(../assets/portada.webp);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
header button {
  padding: 10px;
  margin-top: 330px;
  color: rgb(255, 255, 255);
  background-color: rgb(2, 109, 16);
  font-size: 1.8em;
  border-radius: 5px;
  border-width: 10px;
  border-color: rgb(5, 131, 37);
  font-style: oblique;
  transition: background-color 0.3s, transform 0.3s;
}

header button:hover {
  background-color: rgb(5, 131, 37);
  transform: scale(1.1);
  cursor: pointer;
}

/* color para botones */
.bg-blue {
  background-color: rgba(0, 0, 0, 0.89);
  color: rgb(99, 241, 64);
}

.imagen {
  transition: 0.3s;
}

.imagen:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.navbar {
  padding: 0;
}
/* estilos imagenes index */
.mascotas {
  display: flex;
  flex-direction: row;
}

.perritos,
.gatitos {
  flex: 1;
  position: relative;
}

.perritos img,
.gatitos img {
  width: 100%;
  height: 100%;
}

.buttons {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.buttons button {
  margin: 20px;
  color: rgb(255, 255, 255);
  background-color: rgb(2, 109, 16);
  font-size: 2em;
  border-radius: 5px;
  border-width: 10px;
  border-color: rgb(5, 131, 37);
  font-style: oblique;
  padding: 10px;
}
.buttons button:hover {
  background-color: rgb(5, 131, 37);
  transform: scale(1.1);
  cursor: pointer;
}
footer {
  background-color: rgba(231, 255, 214, 0.966);
}

.info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  flex-direction: row;
}

.redes {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  flex-direction: row; /* Mostrar elementos en una fila */
}

.whatsapp,
.facebook,
.instagram {
  margin: 10px;
}

.whatsapp svg,
.facebook svg,
.instagram svg {
  width: 50px;
  height: 50px;
}

.whatsapp svg {
  fill: #3a9c37;
}

.facebook svg {
  fill: #330ed4;
}

.instagram svg {
  fill: #0490b3;
}
@media screen and (min-width: 768px) and (max-width: 1125px) {
  div .buttons button {
    padding: 5px;
    margin: 5px;
    color: rgb(255, 255, 255);
    background-color: rgb(2, 109, 16);
    font-size: 1em;
    border-radius: 5px;
    border-width: 8px;
    border-color: rgb(5, 131, 37);
    font-style: oblique;
  }
}

@media screen and (max-width: 768px) {
  .inicio {
    height: 30vh;
    background-image: url(../assets/portada.webp);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  header button {
    padding: 3px;
    margin-top: 100px;
    color: rgb(255, 255, 255);
    background-color: rgb(2, 109, 16);
    font-size: 0.5em;
    border-radius: 2px;
    border-width: 4px;
    border-color: rgb(5, 131, 37);
    font-style: oblique;
  }

  div .buttons button {
    padding: 3px;
    margin: 3px;
    color: rgb(255, 255, 255);
    background-color: rgb(2, 109, 16);
    font-size: 7px;
    border-radius: 2px;
    border-width: 4px;
    border-color: rgb rgb(5, 131, 37);
    font-style: oblique;
  }
}
.headercontacto {
  height: 100vh;
  background-image: url(../assets/contactoimagen.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  font-style: oblique;
  color: rgb(0, 255, 136);
  
}
