// _navbar.scss
.navbar {
  padding: 0;
}
// boton nav
.navegacion {
  .navbar-brand {
    .mx-4 {
      width: 50px;
      height: auto;
      margin-right: 20px;
    }
  }
}
//navegacion
.navegacion {
  div {
    width: 100%;
    background-color: $secondaryColor;
    font-size: 1.2em;
    padding-right: 30px;
    ul {
      li {
        a {
          color: $primary-color;
          padding: 20px;
          margin-right: 20px;
          @media (min-width: 280px) and (max-width: 991px) {
            margin-right: 0px;
            padding: 10px;
            text-align: center;
          }
        }
      }
    }
  }
}
img {
  width: 10vh;
  @media (min-width: 280px) and (max-width: 720px) {
    width: 50px;
  }
}
