$primary-color: rgb(24, 141, 0);
$secondaryColor: rgba(220, 252, 197, 0.966);
$coloresboton: rgb(2, 109, 16);
$bordescolor: rgb(5, 131, 37);

//font
$mainFont: "Kanit", sans-serif;

$textSm: 0.7em;
$textMd: 1em;
$textLg: 2em;
$textXl: 3em;
$borderSm: 5px;
$borderMd: 10px;
$borderLg: 15px;
$borderXl: 20px;
